<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm Andrés Oliva, a passionate engineering student with a strong background in Data Science. My focus revolves around the 
          practical application of data analysis, machine learning, and visualization to achieve effective solutions in 
          real-world scenarios.</p>
      </div>
      <div class="col-lg-4">
        <p>Despite being a student in development, I am committed to continuing to learn and apply my skills to solve complex problems. 
          My goal is to keep growing in the field of data science and, with each project, enhance my abilities and knowledge. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
